.container {
  position: relative;
  box-sizing: border-box;
}

.group {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 210px;
  overflow: auto;
}
.bg-dropdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
