.container {
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.item {
  box-sizing: border-box;
  display: flex;
  height: 70px;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  gap: 5px;
  background-color: #fff;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background: #ddd;
  }
}
.name {
  font-family: "Nunito Sans";
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #1d1f20;
  text-decoration: none;
}
.url {
  font-family: "Nunito Sans";
  font-weight: 400;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #1d1f20;
  text-decoration: none;
}
