.item {
  box-sizing: border-box;
  display: flex;
  height: 70px;
  border: 1px solid #e0e0e0;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  background-color: #fff;
}
.name {
  font-family: "Nunito Sans";
  font-weight: 600;
}
.username {
  font-family: "Nunito Sans";
  font-weight: 400;
}

.cursor-pointer {
  cursor: pointer;
  &:hover {
    background: #ddd;
  }
}
